<h1>Login</h1>

  <% if @error %>
      <p> <%= @error %> </p>
  <% end %>

<%= form_for :session, {url: '/sessions', method: 'post'} do |f| %>

  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  <%= f.submit "Submit" %>

<% end %>