<h1>Login</h1>

  <% if @error %>
      <p class="error-msg"> <%= @error %> </p>
  <% end %>

<%= form_for :session, {url: '/sessions', method: 'post'} do |f| %>

  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <%= f.text_field :email, html: {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Password</label>
    <%= f.password_field :password, html: {class: 'form-control'} %>
  </div>
  <%= f.submit "Submit", html: {class: 'btn btn-default'}%>

<% end %>